  ///////////////////////////////////////////////////////////
 //  Fancy box css config (main file)                     //
///////////////////////////////////////////////////////////

// fancy box button image
$fancybox-btn-img : "../../img/fancybox_buttons.png" !default;

// fancy box previous button position
$fancybox-btn-prev-pos : "5px 0" !default;

// fancy box next button position
$fancybox-btn-next-pos : "-33px 0" !default;

// fancy box play button position
$fancybox-btn-play-pos : "0 -30px" !default;

// fancy box play on button position
$fancybox-btn-play-on-pos : "-30px -30px" !default;

// fancy box toggle button position
$fancybox-btn-toggle-pos : "3px -60px" !default;

// fancy box toggle on button position
$fancybox-btn-toggle-on-pos : "-27px -60px" !default;

// fancy box close button position
$fancybox-btn-close-pos : "-56px 0px" !default;